gestionEfluentesLiquidos-webInt/src/wsdl/localhost_8080/PersonasWebService/PersonasWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.gestionpersonas.servicios.ambiente.gob.ar/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.gestionpersonas.servicios.ambiente.gob.ar/" name="PersonasWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.gestionpersonas.servicios.ambiente.gob.ar/" schemaLocation="http://localhost:8080/PersonasWebService/PersonasWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="verEstablecimientos">
<part name="parameters" element="tns:verEstablecimientos"/>
</message>
<message name="verEstablecimientosResponse">
<part name="parameters" element="tns:verEstablecimientosResponse"/>
</message>
<message name="buscarEstablecimientoPorRazonSocial">
<part name="parameters" element="tns:buscarEstablecimientoPorRazonSocial"/>
</message>
<message name="buscarEstablecimientoPorRazonSocialResponse">
<part name="parameters" element="tns:buscarEstablecimientoPorRazonSocialResponse"/>
</message>
<message name="verEstablecimientosHabilitados">
<part name="parameters" element="tns:verEstablecimientosHabilitados"/>
</message>
<message name="verEstablecimientosHabilitadosResponse">
<part name="parameters" element="tns:verEstablecimientosHabilitadosResponse"/>
</message>
<message name="verPerFisicas">
<part name="parameters" element="tns:verPerFisicas"/>
</message>
<message name="verPerFisicasResponse">
<part name="parameters" element="tns:verPerFisicasResponse"/>
</message>
<message name="buscarEstablecimientoPorId">
<part name="parameters" element="tns:buscarEstablecimientoPorId"/>
</message>
<message name="buscarEstablecimientoPorIdResponse">
<part name="parameters" element="tns:buscarEstablecimientoPorIdResponse"/>
</message>
<message name="buscarEstablecimientosPorCUIT">
<part name="parameters" element="tns:buscarEstablecimientosPorCUIT"/>
</message>
<message name="buscarEstablecimientosPorCUITResponse">
<part name="parameters" element="tns:buscarEstablecimientosPorCUITResponse"/>
</message>
<message name="buscarEstablecimientosPorExp">
<part name="parameters" element="tns:buscarEstablecimientosPorExp"/>
</message>
<message name="buscarEstablecimientosPorExpResponse">
<part name="parameters" element="tns:buscarEstablecimientosPorExpResponse"/>
</message>
<message name="verPerFisicasHabilitadas">
<part name="parameters" element="tns:verPerFisicasHabilitadas"/>
</message>
<message name="verPerFisicasHabilitadasResponse">
<part name="parameters" element="tns:verPerFisicasHabilitadasResponse"/>
</message>
<message name="buscarPerFisicasPorNombre">
<part name="parameters" element="tns:buscarPerFisicasPorNombre"/>
</message>
<message name="buscarPerFisicasPorNombreResponse">
<part name="parameters" element="tns:buscarPerFisicasPorNombreResponse"/>
</message>
<message name="verPerJuridicasHabilitadas">
<part name="parameters" element="tns:verPerJuridicasHabilitadas"/>
</message>
<message name="verPerJuridicasHabilitadasResponse">
<part name="parameters" element="tns:verPerJuridicasHabilitadasResponse"/>
</message>
<message name="buscarPerJuridicasPorCuit">
<part name="parameters" element="tns:buscarPerJuridicasPorCuit"/>
</message>
<message name="buscarPerJuridicasPorCuitResponse">
<part name="parameters" element="tns:buscarPerJuridicasPorCuitResponse"/>
</message>
<message name="buscarPerJuridicasPorRazonSocial">
<part name="parameters" element="tns:buscarPerJuridicasPorRazonSocial"/>
</message>
<message name="buscarPerJuridicasPorRazonSocialResponse">
<part name="parameters" element="tns:buscarPerJuridicasPorRazonSocialResponse"/>
</message>
<message name="buscarPerFisicasPorCuit">
<part name="parameters" element="tns:buscarPerFisicasPorCuit"/>
</message>
<message name="buscarPerFisicasPorCuitResponse">
<part name="parameters" element="tns:buscarPerFisicasPorCuitResponse"/>
</message>
<message name="buscarPerFisicaPorId">
<part name="parameters" element="tns:buscarPerFisicaPorId"/>
</message>
<message name="buscarPerFisicaPorIdResponse">
<part name="parameters" element="tns:buscarPerFisicaPorIdResponse"/>
</message>
<message name="buscarPerFisicasPorExp">
<part name="parameters" element="tns:buscarPerFisicasPorExp"/>
</message>
<message name="buscarPerFisicasPorExpResponse">
<part name="parameters" element="tns:buscarPerFisicasPorExpResponse"/>
</message>
<message name="buscarPerJuridicaPorId">
<part name="parameters" element="tns:buscarPerJuridicaPorId"/>
</message>
<message name="buscarPerJuridicaPorIdResponse">
<part name="parameters" element="tns:buscarPerJuridicaPorIdResponse"/>
</message>
<message name="verPerJuridicas">
<part name="parameters" element="tns:verPerJuridicas"/>
</message>
<message name="verPerJuridicasResponse">
<part name="parameters" element="tns:verPerJuridicasResponse"/>
</message>
<portType name="PersonasWebService">
<operation name="verEstablecimientos">
<input wsam:Action="http://ws.gestionpersonas.servicios.ambiente.gob.ar/PersonasWebService/verEstablecimientosRequest" message="tns:verEstablecimientos"/>
<output wsam:Action="http://ws.gestionpersonas.servicios.ambiente.gob.ar/PersonasWebService/verEstablecimientosResponse" message="tns:verEstablecimientosResponse"/>
</operation>
<operation name="buscarEstablecimientoPorRazonSocial">
<input wsam:Action="http://ws.gestionpersonas.servicios.ambiente.gob.ar/PersonasWebService/buscarEstablecimientoPorRazonSocialRequest" message="tns:buscarEstablecimientoPorRazonSocial"/>
<output wsam:Action="http://ws.gestionpersonas.servicios.ambiente.gob.ar/PersonasWebService/buscarEstablecimientoPorRazonSocialResponse" message="tns:buscarEstablecimientoPorRazonSocialResponse"/>
</operation>
<operation name="verEstablecimientosHabilitados">
<input wsam:Action="http://ws.gestionpersonas.servicios.ambiente.gob.ar/PersonasWebService/verEstablecimientosHabilitadosRequest" message="tns:verEstablecimientosHabilitados"/>
<output wsam:Action="http://ws.gestionpersonas.servicios.ambiente.gob.ar/PersonasWebService/verEstablecimientosHabilitadosResponse" message="tns:verEstablecimientosHabilitadosResponse"/>
</operation>
<operation name="verPerFisicas">
<input wsam:Action="http://ws.gestionpersonas.servicios.ambiente.gob.ar/PersonasWebService/verPerFisicasRequest" message="tns:verPerFisicas"/>
<output wsam:Action="http://ws.gestionpersonas.servicios.ambiente.gob.ar/PersonasWebService/verPerFisicasResponse" message="tns:verPerFisicasResponse"/>
</operation>
<operation name="buscarEstablecimientoPorId">
<input wsam:Action="http://ws.gestionpersonas.servicios.ambiente.gob.ar/PersonasWebService/buscarEstablecimientoPorIdRequest" message="tns:buscarEstablecimientoPorId"/>
<output wsam:Action="http://ws.gestionpersonas.servicios.ambiente.gob.ar/PersonasWebService/buscarEstablecimientoPorIdResponse" message="tns:buscarEstablecimientoPorIdResponse"/>
</operation>
<operation name="buscarEstablecimientosPorCUIT">
<input wsam:Action="http://ws.gestionpersonas.servicios.ambiente.gob.ar/PersonasWebService/buscarEstablecimientosPorCUITRequest" message="tns:buscarEstablecimientosPorCUIT"/>
<output wsam:Action="http://ws.gestionpersonas.servicios.ambiente.gob.ar/PersonasWebService/buscarEstablecimientosPorCUITResponse" message="tns:buscarEstablecimientosPorCUITResponse"/>
</operation>
<operation name="buscarEstablecimientosPorExp">
<input wsam:Action="http://ws.gestionpersonas.servicios.ambiente.gob.ar/PersonasWebService/buscarEstablecimientosPorExpRequest" message="tns:buscarEstablecimientosPorExp"/>
<output wsam:Action="http://ws.gestionpersonas.servicios.ambiente.gob.ar/PersonasWebService/buscarEstablecimientosPorExpResponse" message="tns:buscarEstablecimientosPorExpResponse"/>
</operation>
<operation name="verPerFisicasHabilitadas">
<input wsam:Action="http://ws.gestionpersonas.servicios.ambiente.gob.ar/PersonasWebService/verPerFisicasHabilitadasRequest" message="tns:verPerFisicasHabilitadas"/>
<output wsam:Action="http://ws.gestionpersonas.servicios.ambiente.gob.ar/PersonasWebService/verPerFisicasHabilitadasResponse" message="tns:verPerFisicasHabilitadasResponse"/>
</operation>
<operation name="buscarPerFisicasPorNombre">
<input wsam:Action="http://ws.gestionpersonas.servicios.ambiente.gob.ar/PersonasWebService/buscarPerFisicasPorNombreRequest" message="tns:buscarPerFisicasPorNombre"/>
<output wsam:Action="http://ws.gestionpersonas.servicios.ambiente.gob.ar/PersonasWebService/buscarPerFisicasPorNombreResponse" message="tns:buscarPerFisicasPorNombreResponse"/>
</operation>
<operation name="verPerJuridicasHabilitadas">
<input wsam:Action="http://ws.gestionpersonas.servicios.ambiente.gob.ar/PersonasWebService/verPerJuridicasHabilitadasRequest" message="tns:verPerJuridicasHabilitadas"/>
<output wsam:Action="http://ws.gestionpersonas.servicios.ambiente.gob.ar/PersonasWebService/verPerJuridicasHabilitadasResponse" message="tns:verPerJuridicasHabilitadasResponse"/>
</operation>
<operation name="buscarPerJuridicasPorCuit">
<input wsam:Action="http://ws.gestionpersonas.servicios.ambiente.gob.ar/PersonasWebService/buscarPerJuridicasPorCuitRequest" message="tns:buscarPerJuridicasPorCuit"/>
<output wsam:Action="http://ws.gestionpersonas.servicios.ambiente.gob.ar/PersonasWebService/buscarPerJuridicasPorCuitResponse" message="tns:buscarPerJuridicasPorCuitResponse"/>
</operation>
<operation name="buscarPerJuridicasPorRazonSocial">
<input wsam:Action="http://ws.gestionpersonas.servicios.ambiente.gob.ar/PersonasWebService/buscarPerJuridicasPorRazonSocialRequest" message="tns:buscarPerJuridicasPorRazonSocial"/>
<output wsam:Action="http://ws.gestionpersonas.servicios.ambiente.gob.ar/PersonasWebService/buscarPerJuridicasPorRazonSocialResponse" message="tns:buscarPerJuridicasPorRazonSocialResponse"/>
</operation>
<operation name="buscarPerFisicasPorCuit">
<input wsam:Action="http://ws.gestionpersonas.servicios.ambiente.gob.ar/PersonasWebService/buscarPerFisicasPorCuitRequest" message="tns:buscarPerFisicasPorCuit"/>
<output wsam:Action="http://ws.gestionpersonas.servicios.ambiente.gob.ar/PersonasWebService/buscarPerFisicasPorCuitResponse" message="tns:buscarPerFisicasPorCuitResponse"/>
</operation>
<operation name="buscarPerFisicaPorId">
<input wsam:Action="http://ws.gestionpersonas.servicios.ambiente.gob.ar/PersonasWebService/buscarPerFisicaPorIdRequest" message="tns:buscarPerFisicaPorId"/>
<output wsam:Action="http://ws.gestionpersonas.servicios.ambiente.gob.ar/PersonasWebService/buscarPerFisicaPorIdResponse" message="tns:buscarPerFisicaPorIdResponse"/>
</operation>
<operation name="buscarPerFisicasPorExp">
<input wsam:Action="http://ws.gestionpersonas.servicios.ambiente.gob.ar/PersonasWebService/buscarPerFisicasPorExpRequest" message="tns:buscarPerFisicasPorExp"/>
<output wsam:Action="http://ws.gestionpersonas.servicios.ambiente.gob.ar/PersonasWebService/buscarPerFisicasPorExpResponse" message="tns:buscarPerFisicasPorExpResponse"/>
</operation>
<operation name="buscarPerJuridicaPorId">
<input wsam:Action="http://ws.gestionpersonas.servicios.ambiente.gob.ar/PersonasWebService/buscarPerJuridicaPorIdRequest" message="tns:buscarPerJuridicaPorId"/>
<output wsam:Action="http://ws.gestionpersonas.servicios.ambiente.gob.ar/PersonasWebService/buscarPerJuridicaPorIdResponse" message="tns:buscarPerJuridicaPorIdResponse"/>
</operation>
<operation name="verPerJuridicas">
<input wsam:Action="http://ws.gestionpersonas.servicios.ambiente.gob.ar/PersonasWebService/verPerJuridicasRequest" message="tns:verPerJuridicas"/>
<output wsam:Action="http://ws.gestionpersonas.servicios.ambiente.gob.ar/PersonasWebService/verPerJuridicasResponse" message="tns:verPerJuridicasResponse"/>
</operation>
</portType>
<binding name="PersonasWebServicePortBinding" type="tns:PersonasWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="verEstablecimientos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarEstablecimientoPorRazonSocial">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="verEstablecimientosHabilitados">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="verPerFisicas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarEstablecimientoPorId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarEstablecimientosPorCUIT">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarEstablecimientosPorExp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="verPerFisicasHabilitadas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarPerFisicasPorNombre">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="verPerJuridicasHabilitadas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarPerJuridicasPorCuit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarPerJuridicasPorRazonSocial">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarPerFisicasPorCuit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarPerFisicaPorId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarPerFisicasPorExp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarPerJuridicaPorId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="verPerJuridicas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="PersonasWebService">
<port name="PersonasWebServicePort" binding="tns:PersonasWebServicePortBinding">
<soap:address location="http://localhost:8080/PersonasWebService/PersonasWebService"/>
</port>
</service>
</definitions>